---
---

$height: 174px;
$width: 174px;
.gallery-image {
  padding: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery-image img {
  height: $height;
  width: $width;
}

.img-box {
  box-sizing: content-box;
  margin: 4px;
  height: $height;
  width: $width;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.img-box a {
  position: absolute;
  right: 0;
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}

.img-box:hover a {
  opacity: 0.8;
}
