---
---

@import "minima";

.image-gallery {
  overflow: auto;
  margin-left: -1% !important;
}

.image-gallery a {
  float: left;
  display: block;
  margin: 0 0 1% 1%;
  width: 19%;
  text-align: center;
  text-decoration: none !important;
}

.image-gallery a span {
  display: block;
  text-overflow: ellipsis;
  color: #AAA;
  overflow: hidden;
  white-space: nowrap;
  padding: 3px 0;
}

.image-gallery a img {
  width: 100%;
  display: block;
}